@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #1e1f26;
  height: 100vh;
}

input,
textarea {
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  background-color: inherit;
  border: 1px solid #ccc;
  border-color: inherit;
  border-radius: 4px;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  width: 100%;
  padding: 10px 10px;
  resize: vertical;
}

input {
  max-width: 200px;
  padding: 2px 10px;
}

.container {
  background: white;
  width: 860px;
  min-height: 840px;
  height: 100%;
  margin: auto;
  padding: 0 60px 60px 60px;
}

.dark {
  background: black;
  color: white;
  border-color: white;
}

.header__options {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  height: 70px;
  opacity: 0;
  transition: 0.2s ease;
}

.header:hover .header__options {
  opacity: 1;
}

.btn {
  cursor: pointer;
  border: 0;
  background: none;
  opacity: 0.6;
}

.hide {
  display: none;
}

.btn:hover {
  opacity: 1;
}

.btn--edit {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  border-radius: 5px;
}

.btn--delete {
  position: absolute;
  left: 140px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 1.2rem;
}

.btn--add {
  margin-left: 180px;
  padding: 9px 19px;
  font-weight: 500;
  background: white;
  border-radius: 5px;
  border: 1.5px solid black;
}

.btn--save {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 19px;
  background: white;
  border-radius: 5px;
  border: 1.5px solid black;
}
